@import 'tailwindcss';

@theme {
  --color-primary: #15803d;
  --color-primary-dark: #14532d;

  --color-accent: #b91c1c;

  --color-dark: #111827;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.reveal-active {
  opacity: 1;
  transform: translateY(0);
}

[v-reveal] {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}
